<footer>
  <div class="row">
    <div class="badges">
      <ul>
        <li>
          <p> Total de conquistas </p>
        </li>
        <li>
          <div class="badges-user">
            <p><%= current_user.badges.count %></p>
          </div>
        </li>
      </ul>
    </div>

    <div class="level">
      <ul>
        <li>
          <p> Nível </p>
        </li>
        <li>
          <div class="level-user">
            <p><%= current_user.level %></p>
          </div>
        </li>
      </ul>
    </div>

    <div class="points">
      <ul>
        <li>
          <p> Total de pontos </p>
        </li>
        <li>
          <div class="points-user">
            <p><%= current_user.points %></p>
          </div>
        </li>
      </ul>
    </div>

    <% @points = current_user.points %>
    <% if @points > 1 && @points < 50 %>
      <% percent = (@points * 100) / 50 %>
      <% calc = 50 - @points %>
    <% elsif @points > 50 && @points < 100 %>
      <% percent = (@points * 100) / 100 %>
      <% calc = 100 - @points %>
    <% elsif @points > 100 && @points < 200 %>
      <% percent = (@points * 100) / 200 %>
      <% calc = 200 - @points %>
    <% elsif @points > 200 && @points < 400 %>
      <% percent = (@points * 100) / 400 %>
      <% calc = 400 - @points %>
    <% elsif @points > 400 %>
      <% percent = 100 %>
      <% calc = 0 %>
    <% end %>

    <div class="progress-level">
      <span class="green" style="width: <%= percent %>%;"><span>Faltam <%= calc %> pontos</span></span>
    </div>
  </div>
</footer>
