<footer>
  <div class="row">
    <div class="badges">
      <ul>
        <li>
          <p> Total de conquistas </p>
        </li>
        <li>
          <div class="badges-user">
            <p><%= current_user.badges.count %></p>
          </div>
        </li>
      </ul>
    </div>

    <div class="level">
      <ul>
        <li>
          <p> Nível </p>
        </li>
        <li>
          <div class="level-user">
            <p><%= current_user.level %></p>
          </div>
        </li>
      </ul>
    </div>

    <div class="points">
      <ul>
        <li>
          <p> Total de pontos </p>
        </li>
        <li>
          <div class="points-user">
            <p><%= current_user.points %></p>
          </div>
        </li>
      </ul>
    </div>

    <% @points = current_user.points %>
    <% if @points > 1 && @points < 250 %>
      <% percent = (@points * 100) / 250 %>
      <% calc = 50 - @points %>
    <% elsif @points >= 250 && @points < 500 %>
      <% percent = (@points * 100) / 500 %>
      <% calc = 100 - @points %>
    <% elsif @points >= 500 && @points < 1000 %>
      <% percent = (@points * 100) / 100 %>
      <% calc = 200 - @points %>
    <% elsif @points >= 1000 %>
      <% percent = 100 %>
      <% calc = 0 %>
    <% end %>

    <div class="progress-level">
      <span class="green" style="width: <%= percent %>%;"><span><%= calc %> pontos</span></span>
    </div>
  </div>
</footer>
