<header>
  <div class="row">
    <div class="menu-left">
      <ul>
        <li>
          <div class="avatar">
            <%= image_tag "avatar.png", class: "img-responsive" %>
          </div>
        </li>
        <li class="menu">
          <%= link_to 'Início', dashboard_path() %>
        </li>
        <li class="menu">
          <%= link_to 'Timeline', posts_path() %>
        </li>
        <li class="menu">
          <%= link_to "Ações", tasks_path() %>
        </li>
      </ul>
    </div>
    <div class="menu-right">
      <ul>
        <li>
          <%= link_to "Minha conta", edit_user_registration_path() %>
        </li>
        <li>
          <%= link_to(destroy_user_session_path, { method: 'delete' }) do %>
            <i class="fa fa-sign-out"></i> Sair
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</header>
