<header>
  <div class="row">
    <div class="menu-left">
      <ul>
        <li>
          <div class="avatar">
            <%= image_tag "avatar.png", class: "img-responsive avatar-lg" %>
          </div>
        </li>
        <li class="menu">
          <%= link_to 'Início', dashboard_path(), class: "#{'active' if @menu_context == :dashboard}" %>
        </li>
        <li class="menu">
          <%= link_to 'Timeline', posts_path(), class: "#{'active' if @menu_context == :timeline}" %>
        </li>
        <li class="menu">
          <%= link_to "Ações", tasks_path(), class: "#{'active' if @menu_context == :tasks}" %>
        </li>
      </ul>
    </div>
    <div class="menu-right">
      <!--  Sugestão Lucas: Usar SVG https://css-tricks.com/icon-fonts-vs-svg/-->
      <ul>
        <li>
          <%= link_to "Minha conta", edit_user_registration_path() %>
        </li>
        <li>
          <%= link_to(destroy_user_session_path, { method: 'delete' }) do %>
            <i class="fa fa-sign-out"></i> Sair
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</header>
