<%
  if current_user.name.blank?
    avatar = "??"
  else
    avatarArray = current_user.name.split

    if avatarArray.size > 1
      avatar = avatarArray[0][0].upcase + avatarArray[avatarArray.size - 1][0].upcase
    else
      avatar = avatarArray[0][0].upcase + avatarArray[0][1].upcase
    end
  end
%>

<header>
  <div class="row">
    <div class="menu-left">
      <ul>
        <li>
          <div class="avatar avatar-name avatar-lg">
            <p >
              <%= avatar %>
            </p>
          </div>
        </li>
        <li class="menu">
          <%= link_to 'Início', dashboard_path(), class: "#{'active' if @menu_context == :dashboard}" %>
        </li>
        <li class="menu">
          <%= link_to 'Timeline', posts_path(), class: "#{'active' if @menu_context == :timeline}" %>
        </li>
        <li class="menu">
          <%= link_to "Ações", tasks_path(), class: "#{'active' if @menu_context == :tasks}" %>
        </li>
      </ul>
    </div>
    <div class="menu-right">
      <!--  Sugestão Lucas: Usar SVG https://css-tricks.com/icon-fonts-vs-svg/-->
      <ul>
        <li>
          <%= link_to "Minha conta", edit_user_registration_path() %>
        </li>
        <li>
          <%= link_to(destroy_user_session_path, { method: 'delete' }) do %>
            <i class="fa fa-sign-out"></i> Sair
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</header>
