<div class="box">
  <div class="title">
    <h1><i class="fa fa-heart"></i> Ações finalizadas</h1>
  </div>

  <div class="row box-table">
    <div class="col-sm-2">
      <p>Situação</p>
    </div>
    <div class="col-sm-3">
      <p>Ação</p>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-3">
      <p>Expira em</p>
    </div>
    <div class="col-sm-2">

    </div>
  </div>

  <% current_user.actions.where(status: 1).each do |action| %>
    <div class="row box-table">
      <div class="col-sm-2">
        <p><%= link_to 'Aguardando', "#", class: "btn-share" %></p>
      </div>
      <div class="col-sm-3">
        <p><%= action.task.try(:description) %></p>
      </div>
      <div class="col-sm-2">
        <p><%= link_to 'Ver detalhes', "#", class: "btn-see-more" %></p>
      </div>
      <div class="col-sm-3">
        <p><%= distance_of_time_in_words(Date.today, action.task.try(:expires_on)) %></p>
      </div>
      <div class="col-sm-2">
        <p><%= image_tag "avatar.png", class: "img-responsive avatar-box-waiting" %> - <%= action.task.user.name %></p>
      </div>
    </div>
  <% end %>
</div>
