<div class="last-wins">

  <div class="box">
    <div class="title">
      <h1><i class="fa fa-list"></i> Classificação</h1>
    </div>

    <div class="ranking">
      <div class="row box-table table-header">
        <div class="col-sm-2">
          <p>Posição</p>
        </div>
        <div class="col-sm-6">
          <p>Nome</p>
        </div>
        <div class="col-sm-4">
          <p>Pontos</p>
        </div>
      </div>

      <div class="row box-table">
        <div class="col-sm-2 user-position">
          <p>1</p>
        </div>
        <div class="col-sm-6 user-position">
          <p><%= image_tag "avatar.png", class: "avatar-sm" %> Alessandro</p>
        </div>
        <div class="col-sm-4 user-position">
          <p>50 pontos</p>
        </div>
      </div>

      <div class="row box-table">
        <div class="col-sm-2">
          <p>2</p>
        </div>
        <div class="col-sm-6">
          <p><%= image_tag "avatar.png", class: "avatar-sm" %> Rubens</p>
        </div>
        <div class="col-sm-4">
          <p>35 pontos</p>
        </div>
      </div>

      <div class="row box-table">
        <div class="col-sm-2">
          <p>3</p>
        </div>
        <div class="col-sm-6">
          <p><%= image_tag "avatar.png", class: "avatar-sm" %> Emiliano</p>
        </div>
        <div class="col-sm-4">
          <p>5 pontos</p>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="title">
      <h1><i class="fa fa-star"></i></i> Últimas conquistas</h1>
    </div>

    <!-- <div class="wins">
      <ul>
        <li>
          <div class="time">
            <p><i class="fa fa-clock-o"></i> 10 segundos atrás</p>
          </div>
          <ul class="win-details">
            <li>
              <div class="circle">
                <p><i class="fa fa-star"></i></p>
              </div>
            </li>
            <li>
              <p class="win-info">Você subiu de nível</p>
            </li>
          </ul>
        </li>

        <li>
          <div class="time">
            <p><i class="fa fa-clock-o"></i> 1 minuto atrás</p>
          </div>
          <ul class="win-details">
            <li>
              <div class="circle">
                <p>5</p>
              </div>
            </li>
            <li>
              <p class="win-info">pontos por curtir uma publicação</p>
            </li>
          </ul>
        </li>

        <li>
          <div class="time">
            <p><i class="fa fa-clock-o"></i> 3 horas e 15 minutos atrás</p>
          </div>
          <ul class="win-details">
            <li>
              <div class="circle">
                <p><i class="fa fa-trophy"></i></p>
              </div>
            </li>
            <li>
              <p class="win-info">Você recebeu uma recompensa</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- #<Merit::ActivityLog id: 94, action_id: 94, related_change_type: "Merit::Score::Point",
related_change_id: 94, description: "Você recebeu 10 pontos", created_at: "2015-11-08 20:04:40">] -->



<div class="wins">
  <ul>
    <% Merit::ActivityLog.where("action_id in (select id from merit_actions where user_id = '#{current_user.id}')").order('created_at desc').limit(5).each do |action| %>
      <li>
        <div class="time">
          <p><i class="fa fa-clock-o"></i> <%= time_ago_in_words(action.created_at) %> atrás</p>
        </div>
        <ul class="win-details">
          <li>
            <div class="circle">
              <% if action.related_change_type == "Merit::Score::Point" %>
                <p>
                  <%= Merit::Score::Point.find(action.action_id).num_points %>
                </p>
              <% else %>
                <p><i class="fa fa-trophy"></i></p>
              <% end %>
            </div>
          </li>
          <li>
            <% if action.related_change_type == "Merit::Score::Point" %>

            <% else %>
              <p class="win-info">Indefinido</p>
            <% end %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
