<div class="last-wins">

  <div class="box">
    <div class="title">
      <h1><i class="fa fa-list"></i> Classificação</h1>
    </div>

    <div class="ranking">
      <div class="row box-table table-header">
        <div class="col-sm-2">
          <p>Posição</p>
        </div>
        <div class="col-sm-8">
          <p>Nome</p>
        </div>
        <div class="col-sm-2">
          <p>Pontos</p>
        </div>
      </div>

      <% Merit::Score.top_scored(limit: 3).each_with_index do |score, index| %>
        <div class="row box-table">
          <div class="col-sm-2 <%= 'user-position' if current_user.id.to_s == score['user_id'] %>">
            <p><%= index + 1 %></p>
          </div>
          <div class="col-sm-8 <%= 'user-position' if current_user.id.to_s == score['user_id'] %>">
            <%= render 'panel/shared/avatar', user_name: User.find(score["user_id"]).name %>
          </div>
          <div class="col-sm-2 <%= 'user-position' if current_user.id.to_s == score['user_id'] %>">
            <p><%= score["sum_points"] %></p>
          </div>
        </div>
      <% end %>

      <div class="row box-table table-header">
        <div class="col-sm-12">
          <p style="text-align:center;"><%= link_to "<i class='fa fa-link'></i> Ver classificação completa".html_safe, ranking_path() %><p>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="title">
      <h1><i class="fa fa-star"></i></i> Últimas conquistas</h1>
    </div>

    <div class="wins">
      <ul>
        <% Merit::ActivityLog.where("action_id in (select id from merit_actions where user_id = '#{current_user.id}')").order('created_at desc').limit(5).each do |action| %>
          <li>
            <div class="time">
              <p><i class="fa fa-clock-o"></i> <%= time_ago_in_words(action.created_at) %> atrás</p>
            </div>
            <ul class="win-details">
              <li>
                <% if action.related_change_type == "Merit::Score::Point" %>
                  <div class="circle">
                      <p>
                        <% @merit_points = Merit::Score::Point.find(action.related_change_id) %>
                        <%= @merit_points.num_points %>
                      </p>
                  </div>
                <% else %>
                <div class="trophy">
                  <p><%= image_tag("badges/#{Merit::BadgesSash.find(action.related_change_id).badge.name}.png") %></p>
                </div>
                <% end %>
              </li>
              <li>
                <% if action.related_change_type == "Merit::Score::Point" %>
                  <p class="win-info">
                    <%= Merit::Score.find(@merit_points.score_id).category %>
                  </p>
                <% else %>
                  <p class="win-info info-badge">
                    <%= Merit::BadgesSash.find(action.related_change_id).badge.description %>
                  </p>
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="row box-table table-header">
      <div class="col-sm-12">
        <p style="text-align:center;"><%= link_to "<i class='fa fa-link'></i> Ver todas suas conquistas".html_safe, wins_path() %><p>
      </div>
    </div>
  </div>
</div>
