<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="task-open">
        <% current_user.actions.where(status: 0).each do |action| %>
          <p>Você tem uma ação pendente chamada <%= action.id %>
            <%= link_to 'Confirmar', '#', class: "btn-confirmate", :"data-action-id" => "#{action.id}" %>
          </p>
        <% end %>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="task-waiting">
        <% current_user.actions.where(status: 1).each do |action| %>
          <p>Você tem uma ação aguardando o aceite do criado. Sua ação é: <%= action.id %></p>

        <% end %>

      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="task-need-acepted">
        Tarefas que necessitam de sua aprovação        
        <% Action.actions_requiring_approval(current_user.tasks.select(:id)).each do |action| %>
          <p>Ação <%= action.id %>
            <%= link_to 'Aceito', '#', class: "btn-finalize", :"data-action-id" => "#{action.id}" %>
          </p>
        <% end %>
      </div>
    </div>

    <!-- <div class="dash">
      <div class="task-main">
        <div class="title">
          <div class="circle-o">
            <p>3</p>
          </div>
        </div>
        <div class="description">
          Descrição
        </div>
      </div>

      <div class="task-main">
        <div class="title">
          Titulo
        </div>
        <div class="description">
          Descrição
        </div>
      </div>

      <div class="task">
        <div class="title">
          Titulo
        </div>
        <div class="description">
          Descrição
        </div>
      </div>

      <div class="task">
        <div class="title">
          Titulo
        </div>
        <div class="description">
          Descrição
        </div>
      </div>

      <div class="task">
        <div class="title">
          Titulo
        </div>
        <div class="description">
          Descrição
        </div>
      </div>

    </div>-->
  </div>

  <div class="col-sm-4">
    <div class="last-wins">
      <h1>Últimas conquistas</h1>

      <div class="row">
        <div class="time">
          <p><i class="fa fa-clock-o"></i> 10 segundos atrás</p>
        </div>
      </div>

      <div class="row">
        <div class="circle">
          <p><i class="fa fa-star"></i></p>
        </div>
        <div class="description">
          <p>Você subiu de nível</p>
        </div>
      </div>

      <div class="row">
        <div class="time">
          <p><i class="fa fa-clock-o"></i> 1 minuto atrás</p>
        </div>
      </div>

      <div class="row">
        <div class="circle">
          <p>5</p>
        </div>
        <div class="description">
          <p>pontos por curtir uma publicação</p>
        </div>
      </div>

      <div class="row">
        <div class="time">
          <p><i class="fa fa-clock-o"></i> 3 horas e 15 minutos atrás</p>
        </div>
      </div>

      <div class="row">
        <div class="circle">
          <p><i class="fa fa-trophy"></i></p>
        </div>
        <div class="description">
          <p>Você recebeu uma recompensa</p>
        </div>
      </div>

      <div class="row">
        <div class="time">
          <p><i class="fa fa-clock-o"></i> 5 horas atrás</p>
        </div>
      </div>

      <div class="row">
        <div class="circle">
          <p>10</p>
        </div>
        <div class="description">
          <p>pontos por criar uma nova ação</p>
        </div>
      </div>

      <div class="row">
        <div class="time">
          <p><i class="fa fa-clock-o"></i> 5 horas atrás</p>
        </div>
      </div>

      <div class="row">
        <div class="circle">
          <p>5</p>
        </div>
        <div class="description">
          <p>pontos por compartilhar uma ação.</p>
        </div>
      </div>

      <div class="row">
        <div class="time">
          <p><i class="fa fa-clock-o"></i> 1 dia atrás</p>
        </div>
      </div>

      <div class="row">
        <div class="circle">
          <p><i class="fa fa-trophy"></i></p>
        </div>
        <div class="description">
          <p>Você recebeu uma recompensa</p>
        </div>
      </div>

      <div class="row">
        <div class="time">
          <p><i class="fa fa-clock-o"></i> 3 dias atrás</p>
        </div>
      </div>

      <div class="row">
        <div class="circle">
          <p>1</p>
        </div>
        <div class="description">
          <p>ponto de Boas Vindas</p>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- <div class="local">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Você está em</label>
      <div class="col-sm-3">
        <select class="form-control chose-city">
          <option>Jaraguá do Sul</option>
          <option>Pomerode</option>
          <option>Guaramirim</option>
          <option>Joinville</option>
          <option>Massaranduba</option>
        </select>
      </div>
    </div>
  </form>
</div>

<div class="actions-next-to-you">
  <h1>Oportunidades próximo de você</h1>

</div>



<div class="achievements">
  <table class="table">
    <tr>
      <td>
        Ranking
      </td>
      <td>
        Últimas conquistas
      </td>
    <tr>

    <tr>
      <td>
        <div class="ranking">
          <ul>
            <%= Merit::Score.top_scored.each do |score| %>
              <li>Usuario: <%= score["user_id"]%> Pontos: <%= score["sum_points"] %></li>
            <% end %>
          </ul>
        </div>
      </td>
      <td>
        <div class="badges">
          <ul>
            <li><span class="badge badge-warning">12</span></li>
            <li><span class="badge badge-warning">12</span></li>
            <li><span class="badge badge-warning">12</span></li>
            <li><span class="badge badge-warning">12</span></li>
          <ul>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="opportunities">
  <h2>Oportunidades</h2>
  <p>Nenhuma oportunidade encontrada</p>
</div> -->
