<div class="dash">
  <div class="row">
    <div class="col-sm-8">
      <div class="box">
        <div class="title">
          <h1><i class="fa fa-list"></i> Classificação</h1>
        </div>

        <div class="ranking">
          <div class="row box-table table-header">
            <div class="col-sm-2">
              <p>Posição</p>
            </div>
            <div class="col-sm-7">
              <p>Nome</p>
            </div>
            <div class="col-sm-3">
              <p>Pontos</p>
            </div>
          </div>

          <% Merit::Score.top_scored(limit: 1000).each_with_index do |score, index| %>
            <div class="row box-table">
              <div class="col-sm-2 <%= 'user-position' if current_user.id.to_s == score['user_id'] %>">
                <p><%= index + 1 %></p>
              </div>
              <div class="col-sm-7 <%= 'user-position' if current_user.id.to_s == score['user_id'] %>">
                <p><%= image_tag "avatar.png", class: "avatar-sm" %> <%= User.find(score["user_id"]).name %></p>
              </div>
              <div class="col-sm-3 <%= 'user-position' if current_user.id.to_s == score['user_id'] %>">
                <p><%= score["sum_points"] %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box">
        <div class="title">
          <h1><i class="fa fa-bar-chart"></i> Estatísticas</h1>
        </div>

        <div class="task-statistics">
          <ul>
            <li>
              <ul class="task-statistics-details">
                <li>
                  <div class="circle-o">
                    <p><%= User.total_users %></p>
                  </div>
                </li>
                <li>
                  <p class="statistic-info">usuários cadastrados</p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
