<div id="sign-up-modal">
  <div  id="btn-close-sign-up" class="btn-close-modal close-sign-up-modal close-lightSpeedIn">
    <%= image_tag 'closebt.svg', class: "hvr-buzz-out" %>
  </div>

  <div class="modal-content">
    <div class="sign-container">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <h1>Vamos lá, é rapidinho!</h1>

        <div class="field">
          <%= f.text_field :name, title: "Informe seu nome", placeholder: "Nome" %>
        </div>

        <div class="field">
          <%= f.email_field :email, autocomplete: true, title: "Informe seu email", placeholder: "E-mail" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", title: "Informe sua senha", placeholder: "Senha (8 dígitos)" %>
        </div>

        <div class="actions">
          <%= f.submit "Pronto, vamos começar!" %>
        </div>

        <div class="has-account">
          <p>Ja possui uma conta?
            <a href="#sign-in-modal" class="close-sign-up-modal btn-has-account" id="sign-in">              
              Acessar minha conta
            </a>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
