<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="dash">
    <div class="row">
      <div class="col-sm-8">
        <div class="box task-form">
          <div class="title">
            <h1><i class="fa fa-heart"></i> Dados da sua conta de usuário </h1>
          </div>

          <label>E-mail informado?</label>
          <%= f.email_field :email, autofocus: true %>

          <label>Informe a nova senha</label>
          <%= f.password_field :password, autocomplete: "off" %>

          <label>Confirme sua nova senha</label>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>

          <label>Informe sua senha atual</label>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="box">
          <div class="title">
            <h1><i class="fa fa-wrench"></i> Operações</h1>
          </div>
          <div class="task-actions">
            <%= f.submit 'Salvar atualizações', class: "btn-md btn-create" %>
          </div>
        </div>

        <div class="box">
          <div class="title">
            <h1><i class="fa fa-wrench"></i> Remover sua conta?</h1>
          </div>
          <div class="task-actions">
            <%= button_to "Excluir minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete, class: "btn-md btn-remove" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
