<%= simple_form_for @task do |f| %>
  <div class="dash">
    <div class="row">
      <div class="col-sm-8">
        <div class="box task-form">
          <div class="title">
            <h1><i class="fa fa-heart"></i> Cadastro de nova ação</h1>
          </div>

          <label>Qual o nome da ação?</label>
          <%= f.input :title, label: false, placeholder: "Exemplo: Doação de Sangue" %>
          <label>Informe uma breve descrição da ação</label>
          <%= f.input :description, as: :text, label: false, placeholder: "Exemplo: Doação de Sangue para Jorge, favor fazer a doação no hospital São José em nome do paciente." %>
          <label>Informe uma de vencimento da ação</label>
          <%= f.input :expires_on, as: :date, label: false %>

          <label>Informe o endereço</label>
          <%= f.input :address, label: false, placeholder: "Exemplo: Rua Domingos da Nova, 478" %>
          <label>Informe a cidade</label>
          <%= f.input :city, label: false, placeholder: "Florianópolis" %>
          <label>Informe o estado</label>
          <%= f.input :province, label: false, placeholder: "Exemplo: Santa Catarina" %>
          <label>Informe o país</label>
          <%= f.input :country, label: false, placeholder: "Exemplo: Brasil" %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="box">
          <div class="title">
            <h1><i class="fa fa-wrench"></i> Operações</h1>
          </div>
          <div class="task-actions">
            <%= f.button :submit, 'Pronto, salvar ação', class: "btn-md btn-create" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
