<div class="dash">
  <div class="row">
    <div class="col-sm-8">
      <div class="box">
        <div class="title">
          <h1><i class="fa fa-heart"></i> Ações</h1>
        </div>

        <div class="row box-table">
          <div class="col-sm-12">
            <select class="chose-city-select">
              <option>Jaraguá do Sul</option>
              <option>Pomerode</option>
              <option>Guaramirim</option>
              <option>Joinville</option>
              <option>Massaranduba</option>
            </select>
          </div>
        </div>

        <!-- <%= select_tag "rsvp_order_options", options_for_select([ ["Ordem alfabética", "name"], ["Confirmações mais recentes", "confirmation_date"] ], params[:order] || 'name' ), id: 'order-rsvps' %> -->

        <div class="row box-table table-header">
          <div class="col-sm-3">
            <p>Nome</p>
          </div>
          <div class="col-sm-2">
            <p>Expira em</p>
          </div>
          <div class="col-sm-2">
            <p>Cidade</p>
          </div>
          <div class="col-sm-2">
            <p>Criado em</p>
          </div>
          <div class="col-sm-3">
          </div>
        </div>

        <% @tasks.each do |task| %>
          <div class="row box-table">
            <div class="col-sm-3">
              <p><%= task.title %></p>
            </div>
            <div class="col-sm-2">
              <p><%= distance_of_time_in_words(Date.today, task.expires_on) %></p>
            </div>
            <div class="col-sm-2">
              <p><%= task.city %></p>
            </div>
            <div class="col-sm-2">
              <p><%= time_ago_in_words(task.created_at) %> atrás</p>
            </div>
            <div class="col-sm-3">
              <%= link_to 'Ver detalhes', task_path(task), class: "btn-sm btn-info" %>
              <!-- <%= link_to 'Compartilhar', '#', :'data-task-id' => task.id, :'data-task-title' => task.title, class: "btn-sm btn-share" %> -->
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box">
        <div class="title">
          <h1><i class="fa fa-wrench"></i> Operações</h1>
        </div>

        <div class="task-actions">
          <%= link_to 'Adicionar ação', new_task_path(), class: "btn-md btn-edit" %>
        </div>
      </div>

      <div class="box">
        <div class="title">
          <h1><i class="fa fa-bar-chart"></i> Estatísticas</h1>
        </div>

        <div class="task-statistics">
          <ul>
            <li>
              <ul class="task-statistics-details">
                <li>
                  <div class="circle-o">
                    <p><%= Task.total_tasks_not_expired %></p>
                  </div>
                </li>
                <li>
                  <p class="statistic-info">ações a expirar</p>
                </li>
              </ul>
            </li>
            <li>
              <ul class="task-statistics-details">
                <li>
                  <div class="circle-o">
                    <p><%= Task.total_tasks_expired %></p>
                  </div>
                </li>
                <li>
                  <p class="statistic-info">ações expiradas</p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
