<div class="dash">
  <div class="row">
    <div class="col-sm-8">
      <div class="box">
        <div class="title">
          <h1><i class="fa fa-heart"></i> Detalhes da ação <%= @task.title %></h1>
        </div>

        <div class="row box-table table-header">
          <div class="col-sm-2">
            <p>Situação</p>
          </div>
          <div class="col-sm-3">
            <p>Ação</p>
          </div>
          <div class="col-sm-3">
            <p>Criado por</p>
          </div>
          <div class="col-sm-2">
            <p>Criado em</p>
          </div>
          <div class="col-sm-2">
            <p>Expira em</p>
          </div>
        </div>
        <div class="row box-table">
          <div class="col-sm-2">
            <p><span class="task-active">Ativo</span></p>
          </div>
          <div class="col-sm-3">
            <p><%= @task.title %></p>
          </div>
          <div class="col-sm-3">
            <p><%= image_tag "avatar.png", class: "avatar-box-waiting" %> <%= @task.user.name %></p>
          </div>
          <div class="col-sm-2">
            <p><%= time_ago_in_words(@task.created_at) %> atrás</p>
          </div>
          <div class="col-sm-2">
            <p><%= distance_of_time_in_words(Date.today, @task.try(:expires_on)) %></p>
          </div>
        </div>

        <div class="row box-table table-header">
          <div class="col-sm-12">
            <p>Descrição</p>
          </div>
        </div>
        <div class="row box-table">
          <div class="col-sm-12">
            <p><%= @task.description %></p>
          </div>
        </div>

        <div class="row box-table table-header">
          <div class="col-sm-12">
            <p>Localização</p>
          </div>
        </div>
        <div class="row box-table">
          <div class="col-sm-12">
            <p class="address"><%= @task.address %>, <%= @task.city %>, <%= @task.province %>, <%= @task.country %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <%= render 'task_more_information' %>
    </div>
  </div>
</div>
