<div id="sign-in-modal">
  <div  id="btn-close-sign-in" class="btn-close-modal close-sign-in-modal close-lightSpeedIn">
    <%= image_tag 'closebt.svg', class: "hvr-buzz-out" %>
  </div>

  <div class="modal-content">
    <div class="sign-container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <h1>Acesse sua conta</h1>

        <div class="field">
          <%= f.email_field :email, autocomplete: true, title: "Informe seu email", placeholder: "E-mail" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", title: "Informe sua senha", placeholder: "Senha" %>
        </div>

        <div class="actions">
          <%= f.submit "Pronto, acessar!" %>
        </div>

        <div class="has-account">
          <!-- <p>Esqueceu a sua senha? <a href="#">Recuperar minha conta</a></p> -->
          <p>Não possui uma conta? <a href="#sign-up-modal" class="btn-do-not-account close-sign-in-modal" id="sign-up">Criar uma conta</a></p>          
        </div>
      <% end %>
    </div>
  </div>
</div>
