<!DOCTYPE html>
<html>
<head>
  <title>Playbuschgardenstampabay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header-user">
    <table class="table">
      <tr>
        <td style="width: 85%;">
          <p>Usuário: <%= current_user.email %></p>
          <p>Último acesso: <%= current_user.last_sign_in_at %></p>
          
          <%= link_to(destroy_user_session_path, { method: 'delete' }) do %>
            <i class="fa fa-sign-out"></i> Sair
          <% end %>
          
        </td>
        <td style="width: 15%;">
          <p class="avatar">
            <%= image_tag "avatar.png", class: "img-responsive" %>
          </p>
        </td>
      </tr>
    </table>
  </div>

  <div class="menu">
    <ul class="list-unstyled">
      <li><%= link_to 'Dashboard', dashboard_path() %></li>
      <li><%= link_to 'Timeline', posts_path() %></li>
      <li><%= link_to "Tarefas", tasks_path() %></li>
    </ul>
  </div>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
