<!DOCTYPE html>
<html>
<head>
  <title>Meu melhor mundo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <%= render 'panel/shared/header' %>

  <div class="content">
    <%= yield %>
  </div>

  <%= render 'panel/shared/footer' %>

</body>
</html>
